body{
    background-color: rgba(0, 0, 0, .1);
    font-family: 'Jua';
}

a{
    list-style: none;
}
.container{
    margin: 0 auto;
    position: absolute;
    display: grid;
    left: 50%;
    transform: translate(-50%);
    grid-template-columns: 100px 668px;
    grid-template-rows: 100px ifr 100px;
    grid-template-areas: 'img title' 
                         'Main Main'
                         'footer footer';
}

.container div{
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

.header{
    width: 768px;
}

.logo{
    display: flex;
    margin: 0 auto;
    height: 100px;
    justify-content: center;
    align-content: center;
    width: 650px;
    border-bottom: 2px dashed #999;
}

#img{
    display: flex;
    width: 100px;
    height: 100px;
    padding-right: 20px;
    margin-bottom: 10px;
}

#title{
    font-size: 45px;
    padding-top: 20px;
    color: #999;
}

.Main{
    height: 600px;
    display: grid;
    grid-area: Main;
}

.footer{
    height: 80px;
    display: grid;
    grid-area: footer;
}