body{
    background-color: rgba(0, 0, 0, .1);
    font-family: 'Jua';
}

a{
    list-style: none;
}

/* 메인 div */
.container{
    margin: 0 auto;
    position: absolute;
    display: grid;
    left: 50%;
    transform: translate(-50%);
    grid-template-columns: 100px 540px;
    grid-template-rows: 100px ifr 100px;
    grid-template-areas: 'img title' 
                         'Main Main'
                         'footer footer';
}

.container div{
    justify-items: center;
    align-items: center;
}


/* header part */
.header{
    width: 600px;
    height: 100%;
}

.logo{
    display: flex;
    margin: 0 auto;
    height: 100px;
    justify-content: center;
    align-content: center;
    width: 640px;
    border-bottom: 2px dashed #999;
    padding: 0;
}

#img{
    margin-left: 30px;
    display: flex;
    width: 100px;
    height: 100px;
    padding-right: 20px;
    margin-bottom: 10px;
}

#title{
    font-size: 45px;
    padding: 20px 40px 0px 0px;
    margin-right: 40px;
    color: #999;
}

#btn{
    border: 2px solid rgb(66, 64, 64);
    font-size: 15px;
    font-weight: 400;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 40px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;

}

/* Main part */

.Main{
    height:100%;
    display: grid;
    grid-area: Main;
    width: 640px;
    border: 3px skyblue;
    font-family: 'Noto Sans KR', sans-serif;
}

#bar{
    margin-top: 30px;
    width: 468px;
    padding: 20px;
    height: 100%;
}
#bar li{
    list-style: none;
}

#welcome{
    font-size: 20px;
    padding: 0 0 10px 30px;
}

#barcode-input{
    border: 2px dotted black;
    height: 90px;
    padding: 5px;
    text-align: center;
    font-size: 105px;
    width: 487px;
}

#num{
    font-size: 18px;
    padding: 10px;
    text-align : center;
    letter-spacing:20px;
}

.plus{
    margin-top: 35px;
    text-align: end;
}


#cafe-name{
    text-align: left;
    list-style: none;
    width: 468px;
    height:100%;
    padding: 0;
    
}

#cafe-name li{
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    width : 478px;
}

#name1{
    padding:10px;
    margin-bottom: 10px;
    border: 1px dashed rgb(124, 122, 122);
    background-color: #fff;
    width : 478px;
}

#name2{
    padding:10px;
    margin-bottom: 10px;
    border: 1px dashed rgb(124, 122, 122);
    background-color: #fff;
    width : 478px;
}

#name3{
    padding:10px;
    margin-bottom: 10px;
    border: 1px dashed rgb(124, 122, 122);
    background-color: #fff;
    width : 478px;
}



/* footer & menu part */

.footer{
    margin: 0px auto;
    align-items: center;
    text-align: center;
    width: 640px;
    height: 80px;
    display: grid;
    grid-area: footer; 
    border-top: 2px dashed #999;
}

#btn_group{
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .1);
    color: #999;
    padding: 2px;
}

#btn_group:hover{
    background-color:rgba(0, 0, 0, .1);
    color: antiquewhite;

}
#btn1{
    border-right: 2px dotted rgb(46, 45, 45);
    padding: 23px 30px 20px 30px;
    font-size: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: -7px;
}
#btn2{
    border-left: 2px dotted rgb(46, 45, 45);
    padding: 20px 30px 20px 30px;
    font-size: 20px;
    margin-right: -7px;
}
#btn3{
    border-left: 2px dotted rgb(46, 45, 45);
    padding: 20px 30px 20px 30px;
    font-size: 20px;
    margin-right: -8px;
}
#btn4{
    border-left: 2px dotted rgb(46, 45, 45);
    padding: 20px 30px 20px 30px;
    font-size: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}


@media ( max-width: 768px ) {
    body {
        
    }
  }