body{
    background-color: rgba(0, 0, 0, .1);
}
div{
    font-family: 'Jua';
}
a{
    list-style: none;
}

.container{
    margin: 0 auto;
    position: absolute;
    display: grid;
    left: 50%;
    transform: translate(-50%);
    grid-template-columns: 100px 540px;
    grid-template-rows: 100px ifr 100px;
    grid-template-areas: 'img title' 
                         'Main Main'
                         'footer footer';
}

.container div{
    justify-items: center;
    align-items: center;
}


/* header part */
.header{
    width: 600px;
}

.logo{
    display: flex;
    margin: 0 auto;
    height: 100px;
    justify-content: center;
    align-content: center;
    width: 640px;
    border-bottom: 2px dashed #999;
    padding: 0;
}

#img{
    margin-left: 30px;
    display: flex;
    width: 100px;
    height: 100px;
    padding-right: 20px;
    margin-bottom: 10px;
}

#title{
    font-size: 45px;
    padding: 20px 40px 0px 0px;
    margin-right: 40px;
    color: #999;
}

#btn{
    border: 2px solid rgb(66, 64, 64);
    font-size: 15px;
    font-weight: 400;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 40px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;

}

/* Main part */
.Main{
    height:600px;
    display: grid;
    grid-area: Main;
    width: 640px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* cafe search */

.wrap{
    width: 468px;
    height: 50px;
}
.search_box{
    width: 468px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0);
}

.search_box input {
	width: 340px;
	height: 35px;
	padding-left: 12px;
	padding-right: 12px;
    border-radius: 5px;
	font-size: 18px;
	
}

.search_box button {
	width: 10%;
	height: 35px;
	margin: 0;
	padding: 0;
	border: none;
	background: #999;
}

.search_box i {
	color: white;
	font-size: 22px;
}

#keyboard {
	color: #999;
	font-size: 20px;
    width: 10%;
	padding-top:12px;
}


.category{
    width: 100%;
    height: 92px;
}

.category div{
    width:  100%;
    height: 100%;
    margin: 10px;
    text-align: center;
}

.category button{
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 10px;
}

.category button:hover{
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
    padding: 5px 10px 5px 10px;
    border: none;
    background-color: #999;
    border-radius: 10px;
}


/* cafe info */

.Cafe{
    width: 468px;
    height:170px;
    float: left;
    border: 2px dotted #999;
}

#cafetitle{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 5px;
}

#picture{
    float: left;
}

#picture img{
    width:120px;
    height: 120px;
    padding-left: 20px;
}

#location img{
    padding: 0 10px 0 20px;
    text-align: end;
    float: left;
}

.btn{
	font-family: 'Jua';
}

a {
	text-decoration-line: none;
	color : #784748;
}

/* footer & menu part */

.footer{
    margin: 0px auto;
    align-items: center;
    text-align: center;
    width: 640px;
    height: 80px;
    display: grid;
    grid-area: footer; 
    border-top: 2px dashed #999;
}

#btn_group{
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .1);
    color: #999;
    padding: 2px;
}

#btn_group:hover{
    background-color:rgba(0, 0, 0, .1);
    color: antiquewhite;

}
#btn1{
    border-right: 2px dotted rgb(46, 45, 45);
    padding: 20px 30px 20px 30px;
    font-size: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: -7px;
}
#btn2{
    border-left: 2px dotted rgb(46, 45, 45);
    padding: 20px 30px 20px 30px;
    font-size: 20px;
    margin-right: -7px;
}
#btn3{
    border-left: 2px dotted rgb(46, 45, 45);
    padding: 20px 30px 20px 30px;
    font-size: 20px;
    margin-right: -8px;
}
#btn4{
    border-left: 2px dotted rgb(46, 45, 45);
    padding: 20px 30px 20px 30px;
    font-size: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}