
.container {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 100px 30px 180px 30px 1fr 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    background-color: rgba(0, 0, 0, .1);
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 20px;
    border: 1px solid rgb(10, 10, 10);
    grid-template-areas: 'header'
                         'welcome'
                         'barcode'
                         'bar-plus'
                         'coupon'
                         'footer';
}


.header{
    padding-left: 0px;
    width: 480px;
    margin: 0;
    grid-area: header;
    border-bottom: 2px dashed #999;
    padding-bottom: 20px;
    font-size: 45px;
    
}

.header li{
    float: left;
    font-family: 'Jua';
    color: #999;
    font-size: 35px;
    list-style: none;
    align-items: center;
    text-align: center;
    line-height: 50%;
}

.nav img{
    margin-top: -30px;
    padding-right: -80px;
    width: 100px;
    height: 100px;
}

.welcome{
    grid-area: welcome;
}

.barcode{
    margin-top: -30px;
    padding-bottom: -50px;
    grid-area: barcode;
    border: 2px dashed;

}

.bar-plus{
    margin-top: -50px;
    grid-area: bar-plus;
}

.coupon{
    grid-area: coupon;
}

.footer{
    grid-area: footer;
}
